
.game-description-div img {
	width: 120px;
	height: 120px;
}

.game-description-div a img { 
	width: 231px;
	height: 60px;
}

/**** MISC ****/
#content-div {
	text-align: center;
	display: block;
	
	width: 85%;
	max-width: 600px;
	margin: auto;
}