body {
	background-color: white;
	color: black;
}

#header-div {
 	background: rgb(48, 48, 48);
}
 
.navigation-icon-text {
	color: white;
}
 
#navigation-list li {
  background-color: white;
}

#navigation-list li .selected {
	background-color: rgb(48, 48, 48);
}