/**** HEADER ****/
#header-text {
  color: lightgray;
  text-align: center;
  font-size: 400%;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  margin: auto; }

#header-div {
  width: 100%;
  height: 70px;
  background: #202020;
  vertical-align: middle; }

.navigation-icon {
  position: absolute;
  right: 8px;
  height: 48px;
  top: calc((70px - 48px) / 2);
  transition: opacity 0.4s ease-in-out;
  opacity: 0.35;
  cursor: pointer; }

.navigation-icon:hover {
  opacity: 0.9; }

.navigation-icon-text {
  position: absolute;
  right: calc(8px + 48px + 8px);
  /* 8px + 48px == github-icon's margin and size. 8px == margin */
  height: 48px;
  top: calc((70px - 48px) / 5);
  /* no clue why / 5 :P */
  transition: opacity 0.4s ease-in-out;
  opacity: 0;
  color: white;
  cursor: pointer; }

/**** NAVIGATION LIST ****/
/* Navigation List LI */
#navigation-list li {
  float: left;
  display: block;
  width: 100px;
  transition: background-color 0.3s ease-in-out;
  background-color: #181818; }

#navigation-list li .selected {
  float: left;
  display: block;
  width: 100px;
  background-color: #202020;
  color: white; }

#navigation-list li:hover {
  background-color: silver; }

/* Other */
#navigation-list {
  list-style-type: none;
  text-align: center;
  padding: 0px;
  margin-top: 0px; }

#navigation-div {
  text-align: center;
  display: table;
  width: auto;
  height: auto;
  margin-left: auto;
  margin-right: auto; }

#navigation-list li a {
  font-family: Yanone Kaffeesatz, sans-serif;
  font-size: 250%;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  display: block;
  color: #606060; }

/**** CONTENT ****/
#content-div h1 {
  font-family: Yanone Kaffeesatz, courier;
  font-weight: normal;
  font-size: 2.5em; }

#content-div h2 {
  font-family: Yanone Kaffeesatz, courier;
  font-weight: normal;
  font-size: 2em;
  margin-top: 24px;
  margin-bottom: 12px; }

/**** MISC ****/
body {
  background-color: #181818;
  padding: 0px;
  margin: 0px;
  color: #909090; }

html {
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll; }

/**** TEXTS ****/
h1 {
  font-size: 36px; }

h2 {
  font-size: 30px; }

h3 {
  font-size: 24px; }

p {
  font-size: 18px;
  font-family: Open Sans, sans-serif; }

a {
  font-family: Open Sans, sans-serif; }

/* The horizontal line which divides groups */
hr {
  width: 400px;
  max-width: 80%; }

/* CYCLE LINK */
#cycle-or-code-link {
  padding: 0px;
  background-color: transparent;
  color: #909090;
  position: absolute;
  left: 0px;
  top: 0px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 4px;
  font-family: Yanone Kaffeesatz, courier;
  font-weight: normal;
  font-size: 1.5em;
  text-decoration: none; }

#cycle-or-code-link:hover {
  background-color: #606060;
  color: white; }

/**** FOOTER ****/
#email-text {
  font-size: 14px;
  color: gray;
  text-align: center;
  margin: 0px; }

#copyright-text {
  font-size: 14px;
  color: #b4b4b4;
  text-align: center;
  margin-top: 4px; }

#github-text {
  font-size: 14px;
  color: #b4b4b4;
  text-align: center; }

#github-text a, #email-text a {
  color: #8080d8; }

/*# sourceMappingURL=general.css.map */
