
/**** HEADER ****/
#header-text {
    color: white;
	text-align: center;
	font-size: 400%;
	font-family:'Yanone Kaffeesatz', sans-serif;
	margin: auto;
}

#header-div {
	width: 100%;
	height: 70px;
	background: rgb(48, 48, 48);
	vertical-align: middle;
}

/**** NAVIGATION LIST ****/

/* Navigation List LI */
#navigation-list li {
	float: left;
	display: block;
	width: 100px;
}

#navigation-list li .selected {
	float: left;
	display: block;
	width: 100px;
	background-color: rgb(48, 48, 48);
	color: white;
}

#navigation-list li:hover {
	background-color: rgb(208, 208, 208);
}


/* Other */
#navigation-list {
	list-style-type: none;
	text-align: center;
	padding: 0px;
	width: 204px;
	height: 50px;
	margin: auto;
}

#navigation-list li a {
	font-family: Yanone Kaffeesatz, sans-serif;
	font-size: 250%;
	margin: 0px;
	padding: 0px;
	text-decoration: none;
	display: block;
	color: rgb(96, 96, 96);
}

/**** CONTENT ****/
#content-div h1 {
	font-family: Yanone Kaffeesatz, courier;
	font-weight: normal;
	font-size: 2.5em;
}


#content-div h2 {
	font-family: Yanone Kaffeesatz, courier;
	font-weight: normal;
	font-size: 2em;
	margin-top: 24px;
	margin-bottom: 12px;
}

/**** MISC ****/
body {
	background-color: white;
	padding: 0px;
	margin: 0px;
}

html {
	overflow: -moz-scrollbars-vertical; 
	overflow-y: scroll;
}

/**** TEXTS ****/
h1 {
	font-size: 36px;
}

h2 {
	font-size: 30px;
}

h3 {
	font-size: 24px;
}

p {
	font-size: 18px;
	font-family: Open Sans, sans-serif;
}

a {
	font-family: Open Sans, sans-serif;
}

/* The horizontal line which divides groups */
hr {
	width: 400px;
}

/**** COPYRIGHT ****/
#copyright-text {
	font-size: 14px;
	color: rgb(180, 180, 180);
	text-align: center;
	margin-top: 4px;
}

#email-text {
	font-size: 14px;
	color: gray;
	text-align: center;
	margin: 0px;
}
